@import "../../styles/variables";

.button {
    background-color: $button-primary;
    color: $white;
    padding: $button-padding;
    height: $button-height;
    border-radius: $border-radius-md;
    border-color: transparent;
    font-size: $font-sm;
    font-weight: $bolder;
    width: 100%;
    cursor: pointer;
}

.button:hover {
    background-color: $button-primary-hover;
}