@import "./variables";

.button {
    background-color: $button-primary;
    color: $white;
    padding: 0 24px;
    height: 48px;
    border-radius: 6px;
    border-color: transparent;
    font-size: $font-sm;
    font-weight: $bolder;
    width: 100%;
    cursor: pointer;
}

.button:hover {
    background-color: $button-primary-hover;
}