@import "./variables";

.card {
    display: flex;
    flex-direction: row;
    position: relative;
    border-collapse: collapse;
    width: 100%;
    background-color: $white;
    padding: $gap-sm;
    padding-left: 0;
    border-radius: $border-radius-sm;
}