@import "./variables";

.header {
    display: flex;
    justify-content: center;
    height: $header-height;
    background-color: $primary;
    padding: 0 $gap-xxxl;

    @media (width <= $break-mobile) {
        padding: 0;
    }
}