@import "./variables";

.link {
    text-decoration: none;
    color: inherit;
    border-bottom: $border-bottom;
    cursor: default;
}

.wrapper {
    width: 20%;
}

img {
    width: $width;
    height: $height;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: $border-radius-sm;
    cursor: pointer;
}

.description {
    border-collapse: collapse;
    -webkit-box-direction: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.35;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    box-sizing: border-box;
    width: calc(100% - 208px);
    display: flex;
    flex-direction: column;
}

.container {
    cursor: pointer;
    margin-top: $gap-sm;
}

.price {
    font-size: $font-sm;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: $font-xs;
    margin: $gap-sm 0;
}

.location {
    width: 20%;
    font-size: $font-xxs;
    font-weight: $light;
    color: $light-grey;
    margin-top: $gap-md;
    text-transform: capitalize;
}