@import "./variables";

.link {
    text-decoration: none;
    color: inherit;
    border-bottom: $border-bottom;
    cursor: default;
}

.wrapper {
    display: flex;

    & > img {
        width: $image-width-desktop;
        height: $image-height-desktop;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: $border-radius-sm;
        cursor: pointer;
        align-self: center;
    
        @media(width <= $break-mobile) {
            width:  $image-width-mobile;
            height:  $image-height-mobile;
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    -webkit-box-direction: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.35;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    list-style: none;
    box-sizing: border-box;
    width: 75%;
    margin: 0 $gap-sm;

    @media(width <= $break-mobile) {
        margin: 0 $gap-sm;
    }
}

.container {
    cursor: pointer;
    margin-top: $gap-sm;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: $font-sm;
    margin: $gap-sm 0;
}

.location {
    font-size: $font-xs;
    font-weight: $light;
    color: $light-grey;
    margin-top: $gap-md;
    text-transform: capitalize;
}