@import "./variables";

.price {
    font-weight: $bold;
}

.size-sm {
    font-size: $font-sm;
}

.size-md {
    font-size: $font-md;
}

.size-lg {
    font-size: $font-lg;
}

.size-xl {
    font-size: $font-xl;
}

.size-xxl {
    font-size: $font-xxl;
}