@import "./variables";

.icon {
    height: $height-xs;
    border-radius: $border-radius-sm;
    background-image: url('../assets/search.png');
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
