// Colors
$primary: #FFE600;
$background: #EBEBEB;
$primary-button: #3483FA;

// Font
$font-xs: 1.1rem;
$font-sm: 1.3rem;
$font-md: 1.6rem;
$font-lg: 2rem;
$font-xl: 2.4rem;

//Height
$header-height: 4.5rem;
$height-xs: 1.2rem;
$height-sm: 1.5rem;
$height-md: 2.5rem;

//gaps
$gap-xs: 0.4rem;
$gap-sm: 0.8rem;
$gap-md: 1.6rem;
$gap-lg: 3.2rem;
$gap-xxxl: 10rem;
$input-padding: 7px 60px 9px 15px;


$border-radius-sm: 4px;
