// Colors
$primary: #FFE600;
$background: #EBEBEB;
$primary-button: #3483FA;
$white: #FFF;
$light-grey: #999999;
$button-primary: #3483FA;
$button-primary-hover: #2f76E1;

// Font
$font-xs: 0.8rem;
$font-sm: 1rem;
$font-md: 1.3rem;
$font-lg: 1.6rem;
$font-xl: 2.4rem;
$font-xxl: 2.8rem;
$light: 200;
$bold: 400;
$bolder: 500;

//Height
$header-height: 4.5rem;
$height-xs: 1.2rem;
$height-sm: 1.5rem;
$height-md: 2.5rem;

//Widths
$max-width: 1200px;
$container-width: 70%;
$max-column-width: 800px;
$icon-width: 40px;

//gaps
$gap-xs: 0.4rem;
$gap-sm: 0.8rem;
$gap-md: 1.6rem;
$gap-lg: 3.2rem;
$gap-xxxl: 10rem;
$input-padding: 7px 60px 9px 15px;

//images
$image-width-desktop: 160px;
$image-height-desktop: 160px;
$image-width-mobile: 80px;
$image-height-mobile: 80px;
$border-bottom: thin solid #eee;
$border-radius-sm: 4px;

//Devices
$break-mobile: 812px;